@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&family=Yuji+Mai&display=swap');
/*DEFINIÇÕES GLOBAIS*/
* {
    box-sizing: border-box;
    overflow-x: hidden;
}

/*VARIÁVEIS*/
:root {
    --font-color: black;
    --font-text: 'Raleway', sans-serif;
    --font-title: 'Yuji Mai', serif;
}

/*DEFINIÇÃO DO BODY*/
body {
    font-size: 17px;
    margin: 0;
    padding: 0;    
    font-family: 'Raleway' sans-serif;
}


/*COMEÇO DA PÁGINA*/
.header-area {
    width: 600px;
    height: 500px;
    margin: auto;
}

.header-avatar {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 500px;
    padding-top: 10px;
}

.header-avatar legend,
.header-avatar fieldset {    
    border: 2px solid #959BBD;
    background-color: #68caf6;    
    box-shadow: 3px 4px 5px black;
    border-radius: 12px;
}
.header-avatar fieldset {
    margin: 20px;
    display: flex;
    flex-direction: column;    
}
.header-avatar legend {
    margin: auto;
    padding: -30px 0px;   
    align-items: center;
    justify-content: center;
    background-color: lightskyblue;    
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}


.avatar-info-area {
    width: 190px;
    height: 190px;
    border: 4px solid red;
    border-radius: 100px;
    display: flex;
    margin: auto;
    justify-content: center;
}
.avatar-info {
    flex-direction: column;
    position: absolute;   
    background: rgba(0, 0, 0, 0.7);
    border-radius: 100px;
    justify-content: center;
    margin-left: 1px;
    width: 182px;
    height: 182px;
    color: white;
    opacity: 0;
    cursor: pointer;
}
.avatar-info h5 {
    margin-left: 5px;
    text-align: center;
    justify-content: center;
    font-size: 19px;
    margin-top: 40px;
    font-family: 'Raleway', sans-serif;
}
.avatar-info p {
    margin-top: -25px;    
    text-align: center;
    margin-left: -2px;
    font-size: 14px;
    color: white;    
    font-family: 'Raleway', sans-serif;
    line-height: 20px;
}
.avatar-image img{
    width: 176px;
    height: 176px;
    margin-left: 1px;
}
.avatar-info-area:hover .avatar-info{
    opacity: 1;
}
.header-avatar h3 {
    margin-top: -20px;
}
.header-avatar h2, h3 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.header-area .avatar-info a {
    color: white;
}


/*PÁGINA DE CADASTRO*/
.page-cadastro-area {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 310px;
    background-color: lightgrey;
    border: 4px solid grey;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 60px;
    margin-top: -40px;
    box-shadow: 3px 3px 5px black;
}

.cadastro-image img {
    margin-left: 20px ;
    margin-top: -30px;
}

.page-cadastro h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    justify-content: center;
    margin: 25px;
    margin-bottom: 0;
}
.cadastro-image {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin-top: 10px;
}
.cadastro-image img {
    width: 100px;
    height: 100px;
    margin-top: 1px;
    float: left;
    border-radius: 50px;
}

.cadastro-info button {
    font-family: 'Relaway', sans-serif;
    font-weight: 600;
    font-size: 30px;
    border: 4px solid grey;
    border-right: none;
    border-radius: 20px;
    margin-top: 30px;
    margin-right: -15px;
    float: right;
}
.cadastro-info button:hover {
    background-color: darkgray;
    font-size: 31px;
}
.cadastro-image {
    display: inline-block;
}

.page-cadastro-area .page-cadastro a {
    text-decoration: none;
    color: black;
}



/*TEXTO LIPSUM*/

.formatacao {
    display: flex;
    flex-direction: column;  
    background-color: #FAD881;
    border: 2px solid #000;
    box-shadow: 1px 1px 5px black;
    margin: 0px 100px;
    margin-bottom: 10px;
}

.texto {
    margin: 0px 30px;
}

h1 {
    font-family: 'Yuji Mai', serif;
    font-size: 40px;    
    margin-top: 30px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    text-align: justify;
    margin-top: 3px;
    margin-bottom: 15px;
    color: black;
}



/*TABELA - DADOS DE SAPATOS*/
.tabela {
    margin-top: 40px;
    margin-bottom: 30px;
}

.subtitulo {
    text-align: center;
    font-family: 'Yuji Mai' serif;
    text-shadow: 1px 1px 2px #333;
}

.tabela-area {
    display: flex;
    justify-content: center; /*Alinhas horizontalmente*/
}
.tabela-area td {
    padding-right: 30px;
}

td {
    font-family: 'Raleway', sans-serif;
}
table {
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 2px 3px 5px #333;
}
thead th{
    background-color: #959BBD;
}
tbody tr:nth-child(even) {
    background-color: #C9D1FF;
}


/*FORMULARIO*/
.formulario {
    display: grid;
    justify-content: center;
}

.formulario-area {
    width: 300px;
    height: 235px;
    background-color: #eee;
    border: 1px solid #999;
    box-shadow: 2px 3px 10px black;
    margin-bottom: 40px;    
    border: 4px solid #959BBD;
    border-radius: 10px;
}

.area-login {
    grid-template-columns: repeat(2, 1fr);
    margin: 10px;
    margin-top: -10px;
}

.area-login form .submit {
    display: flex;
}
.area-login form .button {
    margin-left: 50px;
    margin-right: 1px;
    justify-content: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 2px 6px #959BBD;
}

.area-login span {
    color: red;
}



/*FIELDSET AND LEGEND*/
.form-area {
    margin-left: 40px;
}
.form-layout {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 100px;
}
.form-area fieldset {
    border: 2px solid red;
    width: 250px;
    height:180px;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-right: 50px;
    justify-content: center;
}
.form-layout form {
    width: 600px;
}
.form-area legend {
    border: 2px solid red;
    border-radius: 5px;
    padding: 0px 10px;
    font-size: 20px;
    background-color: white;
}
.form-area legend, fieldset {
    box-shadow: 2px 3px 5px black;
}
.form-area fieldset label {
    display: block;
    margin-bottom: 3px;
    margin-top: 10px;
}
.form-area input[type=submit] {
    padding: 8px;
    font-size: 16px;
    border: 2px solid red;
    border-radius: 5px;
    margin-left: 245px;
    margin-bottom: 50px;
}


/*FUNÇÃO VAR E @MEDIA*/
.function-area-geral {
    width: auto;
    height: auto;
}
.function-area-geral .title h2 {
    font-family: var(--font-text);
    text-align: center;
    text-shadow: 1px 1px 1px black;
}
.function-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.function-area .print,
.function-area .screen,
.function-area .landscape,
.function-area .aspect,
.function-area .var {
    width: 300px;
    height: 350px;
    background-color: white;
    margin: 10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 6px;
}
.function-area h2 {
    font-size: 19px;
    font-family: var(--font-text);
    font-weight: 300;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #eee;
}
.function-area p {
    margin: 0px 8px;
}

.function-area .formatacao1 {
    width: auto;
    height: auto;
    padding: 5px 2px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    border-top: 2px solid rgba(0, 0, 0, 0.3);
    background-color: #eee;
    margin: 10px 0px;
}
.function-area .formatacao1 p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}


/*VIDEO*/
.framework-video .formatacao1 { 
    font-family: var(--font-text);
}
.video {
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-bottom: 50px;
}
.video-area {
    position: relative;
    height: 0px;
    background-color: lightgrey;
    padding: 0px 0px 56.25%;
}
.video-area iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    border: 0px;
    width: 100%;
    height: 100%;
}
















/*RESPONSIVIDADE*/
@media (max-width: 600px) {
    /*GERAL*/
    body {
        background-color: lightgrey;
    }
    /*AVATAR ÁREA*/
    .header-area {
        width: 300px;
        height: 290px;
        margin-bottom: 55px;
    }
    .header-avatar {
        width: inherit;
        height: inherit;
        padding-top: 10px;
    }
    .header-avatar fieldset {
        margin: 3px;
    }
    .header-avatar legend {
        padding: 3px 20px;   
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    }       
    .avatar-info-area {
        width: auto;
        height: 90px;
        margin: 0;
    }
    .avatar-info {
        margin-left: 83px;
        width: 182px;
        height: inherit;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0);
        color: black;
        position: absolute;
        padding-left: 20px;
    }
    .avatar-info h5 {
        margin-left: -5px;
        font-size: 14px;
        margin-top: 1px;
    }
    .avatar-info p {
        margin-top: -25px;
        margin-left: -30px;
        font-size: 12px;
        font-weight: 600;
        color: white;    
        font-family: 'Raleway', sans-serif;
        line-height: 20px;
        color: black;
    }
    .header-area .avatar-info a {
        color: black;
    }
    .avatar-image {    
        margin-left: -155px;
        float: left;
    }
    .avatar-image img{
        width: 73px;
        height: 73px;
        margin-top: 4px;
    }
    .header-avatar h2 {
        font-size: 23px;
    }
    .header-avatar h3 {
        margin-top: -20px;
        font-size: 16px;
    }


    /*TEXTO LIPSUM*/
    .formatacao {
        margin: 0px 10px;
        margin-bottom: 10px;
    }
    
    .formatacao .texto {
        margin: 0px 15px;
    }
    
    .formatacao .texto h1 {
        font-size: 30px;    
        margin-top: 25px;
    }
    
    .formatacao .texto p {
        font-size: 14px;
        margin-top: 2px;
        margin-bottom: 10px;
    } 

    /*DADOS DE SAPATO*/
    .tabela {
        margin-top: 10px;
    }
    .tabela-area {
        margin-top: 0;
    }
    .tabela-dados {
        margin: 0px 10px;
    }

    table {
        border: 2px solid #000;
        border-radius: 5px;
        box-shadow: 2px 3px 5px #333;
    }

    /*FIELDSET AND LEGEND*/
    .form-area {
        margin: 0px 10px;
        margin-left: -2px;
    }
    .form-layout {        
        margin-right: -10px;
    }       
    .form-area input[type=submit] {
        margin-left: 85px;
    }
    .form-area fieldset {
        background-color: #eee;
    }

}
